<div id="navbar" class="fixed top-0 m-6 inset-x-0 z-50 transition-all duration-700 bg-transparent  font-general">
  <nav class="flex items-center justify-between px-6 py-4">

    <!-- Logo -->
    <div class="flex items-center gap-3">
      <img src="/img/logo.png" alt="Logo" class="w-10">
      <span class="text-white font-zentry text-xl">MyApp</span>
    </div>

    <div class="flex items-center gap-8">
     <div class="hidden md:flex gap-8 text-white font-robert-medium">
  <a href="#home" class="nav-link relative pb-1">Home</a>
  <a href="#events" class="nav-link relative pb-1">Events</a>
  <a href="#community" class="nav-link relative pb-1">Community</a>
  <a href="#contact" class="nav-link relative pb-1">Contact Us</a>
</div>

      <button
        class="px-4 py-2 bg-yellow-300 text-black rounded-[2.5rem] hover:bg:yellow-700 transition font-circular-web">
        <span class="relative inline-flex overflow-hidden group">
          <span
            class="translate-y-0 skew-y-0 transition duration-500 group-hover:-translate-y-[120%] group-hover:skew-y-12">
            Login
          </span>
          <span
            class="absolute translate-y-[124%] skew-y-12 transition duration-500 group-hover:translate-y-0 group-hover:skew-y-0">
            Login
          </span>
      </button>
    </div>

  </nav>
</div>