
#navbar {
  background: rgba(255, 255, 255, 0);
}

#navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.uniform-text, 
.uniform-text b {
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
.wave {
  position: fixed;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, #3b82f6 0%, #1e3a8a 100%);
  border-radius: 50%;
  z-index: 9999;
  transform: scale(0);
  pointer-events: none;
}

.top-left {
  top: -100%;
  left: -100%;
}

.bottom-right {
  bottom: -100%;
  right: -100%;
}
